<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>File analyzer</title>
    <link rel="stylesheet" type="text/css" href="/resources/css/app.css"/>
    <link rel="stylesheet" type="text/css" href="/resources/bower_components/bootstrap/dist/css/bootstrap.css"/>

    <script src="/resources/bower_components/angular/angular.js"></script>
    <script src="/resources/js/app.js"></script>
</head>
<body ng-app="analyzer">
<nav class="navbar navbar-inverse"><p class="navbar-text">File Analyzer</p></nav>
<div ng-controller="fileController" ng-init="loadFiles()">
    <div class="row">
        <div class="col-md-4">
            <h3>Files</h3>

            <div class="table-wrapper">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Number of strings</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in fileItems" ng-click="loadStrings(item)">
                        <td>{{item.fileId}}</td>
                        <td>{{item.name}}</td>
                        <td>{{item.stringCount}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-7">
            <h3>Strings of file: {{selectedFile}}</h3>

            <div class="table-wrapper">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Max word</th>
                        <th>Min word</th>
                        <th>Length</th>
                        <th>Average word length</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in stringItems">
                        <td>{{item.maxWord}}</td>
                        <td>{{item.minWord}}</td>
                        <td>{{item.length}}</td>
                        <td>{{item.averageWordLength}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>